ion-toolbar {
--background: transparent;
--ion-color-base: transparent !important;
}

ion-content {
  --background: radial-gradient(
    rgba(100, 75, 125, 0.0),
    rgba(100, 75, 125, 0.0)
  ),
  url("/../../assets/images/curve1.svg") no-repeat center center / cover;

}

.titlebg {
  font-weight: 700;
  font-size: 25px;
}

.title span {
  font-size: 30px;
}

//@media only screen and (min-width: 678px){
  .titlebg {
    border-radius: 50px;
    height: 50px;
    background-color: rgb(37,140,214);
    width: 250px;
    margin: auto;
    .title {
      line-height: 1.5 !important;
    }
  }
//}

.front {
  .message {
    display: flex;
  }
  height: 100%;
}

.pill {
  --background: #f5f5f5;
  --border-radius: 25px;
  --highlight-height: 0;
  //--highlight-color-focused: #284d8f;
  --box-shadow: inset 0px 0px 2px 1px #e5e5e5;
}

ion-item {
  max-width: 500px;
  margin: auto;
}

.space {
  height: 50px;
}

.pill-outline {
  background-color: white;
  border-radius: 25px;
  width: 275px;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0px 0px 3px 0.25px #aaa;
}
